@page "/weather"
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>
<EditForm Model="@location" OnSubmit="HandleSubmit" formName="weather-form">
    <InputText @bind-Value="location.city" placeholder="Enter City" Disabled="@useCurrentLocation" />
    <InputText @bind-Value="location.state" placeholder="Enter State" Disabled="@useCurrentLocation" />
    <button type="submit">Get Weather</button>
    @if (isWeatherBySearchSelected) { <p>Getting weather data...</p> }
</EditForm>
<Button @onclick="GetWeatherByCurrentLocation">
    Get Weather by Current Location
</Button>
@if (isLoading) {
    <p>Getting Weather By Location...</p>
}

@if (location != null) {
    <h2>Location:</h2>
    <p>City: @location.city</p>
    <p>State: @location.state</p>
    <p>Latitude: @location.latitude</p>
    <p>Longitude: @location.longitude</p>
}

@code {
@inject IJSRuntime JSRuntime
    private bool isLoading = false;
    private bool isWeatherBySearchSelected = false;
    private bool useCurrentLocation = false;
    
    private Location location = new Location();
    private Weather weather = new Weather();
    
    
    private class Position {
      public Coordinates coords { get; set; }
    }

    private class Coordinates {
      public double latitude { get; set; }
      public double longitude { get; set; }
    }

    [Inject]
    private WeatherifyDbContext? DbContext {get; set;}

    [Inject]
    private LocationService? LocationService {get; set;}

    [Inject]
    private WeatherService? WeatherService {get; set;}

    protected override async Task OnInitializedAsync() {
       await Task.CompletedTask;
    }

    private async Task HandleSubmit() {
      isWeatherBySearchSelected = true;
      try {
        location = await LocationService.fetchLocationData(location.city, location.state);
      } finally {
	isWeatherBySearchSelected = false;
      }
    }

    private async Task GetWeatherByCurrentLocation() {
      isLoading = true;
      var latlong = await JSRuntime.InvokeAsync<Position>("getLocation");

      location = new Location {
        latitude = latlong.coords.latitude,
        longitude = latlong.coords.longitude,
        city = "",
        state = ""
      };
      isLoading = false;

      var weather = await WeatherService.fetchWeatherByLatLon(location.latitude, location.longitude);

    }
}
