@page "/weather"
@using Microsoft.EntityFrameworkCore
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>
<EditForm Model="@location" OnSubmit="HandleSubmit" formName="weather-form">
    <InputCheckbox @bind-Value="useCurrentLocation" /> Use Current Location
    <InputText @bind-Value="location.city" Disabled="@useCurrentLocation" />
    <InputText @bind-Value="location.state" Disabled="@useCurrentLocation" />
    <button type="submit">Get Weather</button>
</EditForm>

@if (location != null)
{
    <h2>Location:</h2>
    <p>City: @location.city</p>
    <p>State: @location.state</p>
    <p>Latitude: @location.latitude</p>
    <p>Longitude: @location.longitude</p>
}

@code {
    private bool useCurrentLocation = false;
    private Location location = new Location();

    [Inject]
    private WeatherifyDbContext? DbContext {get; set;}

    [Inject]
    private LocationService? LocationService { get; set; }

    protected override async Task OnInitializedAsync()
    {
       LocationService = new LocationService(new HttpClient(), DbContext);
       await Task.CompletedTask;
    }

    private async Task HandleSubmit()
    {
        if (useCurrentLocation && LocationService != null)
        {
            location = await LocationService.getLocationCoordinates(location.city, location.state);
        }
    }
}
